header {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    padding: 5vw;
    padding-top: 2vw;
    position: absolute;
    width: 100vw;
    height: 25vh;
    z-index: 1;
    color: white;
    margin-bottom: 50px;

}
.containerPaginaWit{
    display: flex;
    flex-direction: column;
}
.textOpAchtergrond{
    width: 100vw;
    color: white; 
    background-color: rgb(94, 185, 180); 
    text-Align: justify;   
    padding-top: 30vh;
    padding-left: 5vh;
    padding-right: 5vh;
}
.icoon {
    display: flex;
    flex-direction: column;
    justify-Content: center;
    align-items: center;
    width: 50%;
}
.containerPaginaFoto{
    min-height: 100vh;
}  
footer{
    width: 100vw;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
 @media only screen and (min-width: 1000px) {
    header, 
    header > div{
        flex-direction: row;
        justify-content: space-between;
    }
     .textOpAchtergrond{
        width: 90vw;
        padding-top: 35vh;
        padding-left: 45vw;
        padding-bottom: 5vh;
        background: none;
     }
     .containerPaginaWit{
         flex-direction: row;
     }
     .textOpWit{
         width: 50vw;
         padding: 6vw;
     }
     .containerContactForm{
         width: 50vw;
     }
     footer > div {
         width: 50%;
     }
     footer{
         flex-direction: row;
         justify-content: space-between;
     }
     
 }
 @media only screen and (min-width: 1250px){
     .icoon{
         width: 25%;    
     }
 }